## Task 1

In [181]:
import pandas as pd
import numpy as np

In [182]:
all_cols = ["age", "workclass", "fnlwgt", "education", "education-num", "marital-status", "occupation", "relationship", "race", "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country", "income"]
cont_cols = ["age", "fnlwgt", "education-num", "capital-gain", "capital-loss", "hours-per-week"]
cat_cols = ["workclass", "education", "marital-status", "occupation", "relationship", "race", "sex", "native-country"]

#### Fill Missing Values

In [86]:
df = pd.read_csv("adult.data", index_col=False, names=all_cols)
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [87]:
df[df.isin([" ?"]).any(axis=1)]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
38,31,Private,84154,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,38,?,>50K
51,18,Private,226956,HS-grad,9,Never-married,Other-service,Own-child,White,Female,0,0,30,?,<=50K
61,32,?,293936,7th-8th,4,Married-spouse-absent,?,Not-in-family,White,Male,0,0,40,?,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32530,35,?,320084,Bachelors,13,Married-civ-spouse,?,Wife,White,Female,0,0,55,United-States,>50K
32531,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32541,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32542,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K

In [88]:
df = df.replace(" ?", np.nan)
df[df.isin([" ?"]).any(axis=1)]

Empty DataFrame
Columns: [age, workclass, fnlwgt, education, education-num, marital-status, occupation, relationship, race, sex, capital-gain, capital-loss, hours-per-week, native-country, income]
Index: []

In [89]:
df[df.isnull().any(axis=1)]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,NaN,>50K
27,54,NaN,180211,Some-college,10,Married-civ-spouse,NaN,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
38,31,Private,84154,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,38,NaN,>50K
51,18,Private,226956,HS-grad,9,Never-married,Other-service,Own-child,White,Female,0,0,30,NaN,<=50K
61,32,NaN,293936,7th-8th,4,Married-spouse-absent,NaN,Not-in-family,White,Male,0,0,40,NaN,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32530,35,NaN,320084,Bachelors,13,Married-civ-spouse,NaN,Wife,White,Female,0,0,55,United-States,>50K
32531,30,NaN,33811,Bachelors,13,Never-married,NaN,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32539,71,NaN,287372,Doctorate,16,Married-civ-spouse,NaN,Husband,White,Male,0,0,10,United-States,>50K
32541,41,NaN,202822,HS-grad,9,Separated,NaN,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32542,72,NaN,129912,HS-grad,9,Married-civ-spouse,NaN,Husband,White,Male,0,0,25,United-States,<=50K

In [90]:
# cont_cols = ["age", "fnlwgt", "education-num", "capital-gain", "capital-loss", "hours-per-week"]
for column in cont_cols:
    val = df[column].mean(skipna=True)
    df[column] = df[column].replace(np.nan, val)

In [92]:
# cat_cols = ["workclass", "education", "marital-status", "occupation", "relationship", "race", "sex", "native-country"]
for column in cat_cols:
    df[column] = df[column].replace(np.nan, drop_df[column].mode()[0])

In [95]:
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [age, workclass, fnlwgt, education, education-num, marital-status, occupation, relationship, race, sex, capital-gain, capital-loss, hours-per-week, native-country, income]
Index: []

In [94]:
# df.to_csv("nb_filled.csv", index=None)

#### Create Training and Testing Sets

In [112]:
def create_split(df):
    training_split = df.sample(frac = 0.67, random_state=80)
    testing_split = df.drop(training_split.index)

    return (training_split, testing_split)

In [183]:
df = pd.read_csv('nb_filled.csv')
train, test = create_split(df)

In [282]:
train

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
7340,20,Private,308924,Some-college,10,Never-married,Prof-specialty,Own-child,White,Male,0,0,25,United-States,<=50K
10389,34,Private,36385,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,45,United-States,>50K
25527,58,Private,160662,10th,6,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,>50K
29537,46,Local-gov,133969,Masters,14,Divorced,Prof-specialty,Not-in-family,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
14713,67,Local-gov,342175,Masters,14,Divorced,Adm-clerical,Not-in-family,White,Female,2009,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22331,30,Private,137076,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States,>50K
17567,38,Private,312271,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,>50K
31077,46,Self-emp-not-inc,119944,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
28112,61,Private,158712,HS-grad,9,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,99,United-States,<=50K
21673,20,Private,70076,Some-college,10,Never-married,Machine-op-inspct,Own-child,White,Female,0,0,40,United-States,<=50K

In [283]:
test

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income,prediction
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,>50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K,<=50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,United-States,>50K,>50K
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K,>50K
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K,<=50K
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K,<=50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K,<=50K

In [187]:
bin_dict = {}
for col in cont_cols:
    result, bins = pd.cut(df[col], bins=10, retbins=True)
    bin_dict[col] = bins
bin_dict

{'age': array([16.927, 35.25 , 53.5  , 71.75 , 90.   ]),
 'fnlwgt': array([  10812.58,  380390.  ,  748495.  , 1116600.  , 1484705.  ]),
 'education-num': array([ 0.985,  4.75 ,  8.5  , 12.25 , 16.   ]),
 'capital-gain': array([  -99.999, 24999.75 , 49999.5  , 74999.25 , 99999.   ]),
 'capital-loss': array([  -4.356, 1089.   , 2178.   , 3267.   , 4356.   ]),
 'hours-per-week': array([ 0.902, 25.5  , 50.   , 74.5  , 99.   ])}

In [210]:
bin_dict

{'age': array([16.927, 35.25 , 53.5  , 71.75 , 90.   ]),
 'fnlwgt': array([  10812.58,  380390.  ,  748495.  , 1116600.  , 1484705.  ]),
 'education-num': array([ 0.985,  4.75 ,  8.5  , 12.25 , 16.   ]),
 'capital-gain': array([  -99.999, 24999.75 , 49999.5  , 74999.25 , 99999.   ]),
 'capital-loss': array([  -4.356, 1089.   , 2178.   , 3267.   , 4356.   ]),
 'hours-per-week': array([ 0.902, 25.5  , 50.   , 74.5  , 99.   ])}

## Task 2

### Calculating Prior Probability

In [262]:
# df['age'].value_counts(normalize=True, bins=[16, 35, 53, 71, 90])

In [261]:
def calculate_prior(df):
    return df['income'].value_counts(normalize=True).to_dict()

In [178]:
prior = calculate_prior(train)
prior

{' <=50K': 0.7578841217455079, ' >50K': 0.24211587825449213}

### Calculating Conditional Probability

In [258]:
def calculate_conditional(df, bin_dict):
    grouped = df.groupby(df.income)
    df1 = grouped.get_group(" <=50K")
    df2 = grouped.get_group(" >50K")
    cond1, cond2 = dict(), dict()
    for col in cat_cols:
        cond1[col] = df1[col].value_counts(normalize=True).to_dict()
        cond2[col] = df2[col].value_counts(normalize=True).to_dict()
    for col in cont_cols:
        # cut = pd.cut(df1[col], bins=bin_dict[col], labels=bin_dict[col][:-1])
        # cond1[col] = cut.value_counts(normalize=True).to_dict()
        # cut = pd.cut(df2[col], bins=bin_dict[col], labels=bin_dict[col][:-1])
        # cond2[col] = cut.value_counts(normalize=True).to_dict()
        cond1[col] = df1[col].value_counts(normalize=True, bins=bin_dict[col]).to_dict()
        cond2[col] = df2[col].value_counts(normalize=True, bins=bin_dict[col]).to_dict()
    return cond1, cond2

In [259]:
cond1, cond2 = calculate_conditional(train, bin_dict)

In [253]:
# import json

# with open('cond1.json', 'w') as fp:
#     json.dump(cond1, fp)
# with open('cond2.json', 'w') as fp:
#     json.dump(cond2, fp)

In [260]:
import pprint
pprint.pprint(cond1, indent=4)
pprint.pprint(cond2, indent=4)

{   'age': {   Interval(16.926, 35.25, closed='right'): 0.534655266509005,
               Interval(35.25, 53.5, closed='right'): 0.32830028500394154,
               Interval(53.5, 71.75, closed='right'): 0.12261233400036384,
               Interval(71.75, 90.0, closed='right'): 0.014432114486689709},
    'capital-gain': {   Interval(-100.0, 24999.75, closed='right'): 0.9996968043175065,
                        Interval(24999.75, 49999.5, closed='right'): 0.0003031956824934813,
                        Interval(49999.5, 74999.25, closed='right'): 0.0,
                        Interval(74999.25, 99999.0, closed='right'): 0.0},
    'capital-loss': {   Interval(-4.357, 1089.0, closed='right'): 0.9709538536171245,
                        Interval(1089.0, 2178.0, closed='right'): 0.02492268510096416,
                        Interval(2178.0, 3267.0, closed='right'): 0.003759626462919168,
                        Interval(3267.0, 4356.0, closed='right'): 0.00036383481899217757},
    'education': {   ' 10th': 0.034139833848765996,
                     ' 11th': 0.04584318719301437,
                     ' 12th': 0.01697895821963495,
                     ' 1st-4th': 0.006124552786368322,
                     ' 5th-6th': 0.013522527439209266,
                     ' 7th-8th': 0.024376932872475898,
                     ' 9th': 0.019040688860590627,
                     ' Assoc-acdm': 0.031168516160329878,
                     ' Assoc-voc': 0.040325025771633015,
                     ' Bachelors': 0.12740282578376083,
                     ' Doctorate': 0.004305378691407434,
                     ' HS-grad': 0.3584379358437936,
                     ' Masters': 0.03171426838881814,
                     ' Preschool': 0.0017585349584621915,
                     ' Prof-school': 0.005639439694378752,
                     ' Some-college': 0.23922139348735674},
    'education-num': {   Interval(0.984, 4.75, closed='right'): 0.04578254805651567,
                         Interval(4.75, 8.5, closed='right'): 0.11600266812200594,
                         Interval(8.5, 12.25, closed='right'): 0.6691528712631132,
                         Interval(12.25, 16.0, closed='right'): 0.16906191255836517},
    'fnlwgt': {   Interval(10812.579, 380390.0, closed='right'): 0.9505184646170639,
                  Interval(380390.0, 748495.0, closed='right'): 0.04820811351646353,
                  Interval(748495.0, 1116600.0, closed='right'): 0.0010915044569765327,
                  Interval(1116600.0, 1484705.0, closed='right'): 0.00018191740949608878},
    'hours-per-week': {   Interval(0.901, 25.5, closed='right'): 0.15165848038323934,
                          Interval(25.5, 50.0, closed='right'): 0.763022254563095,
                          Interval(50.0, 74.5, closed='right'): 0.07385846825541205,
                          Interval(74.5, 99.0, closed='right'): 0.011460796798253592},
    'marital-status': {   ' Divorced': 0.16336183372748772,
                          ' Married-AF-spouse': 0.0006063913649869626,
                          ' Married-civ-spouse': 0.33181735492086595,
                          ' Married-spouse-absent': 0.015159784124674065,
                          ' Never-married': 0.41313443696561764,
                          ' Separated': 0.039839912679643444,
                          ' Widowed': 0.036080286216724274},
    'native-country': {   ' Cambodia': 0.00036383481899217757,
                          ' Canada': 0.0032138742344309016,
                          ' China': 0.0020010915044569766,
                          ' Columbia': 0.0021830089139530653,
                          ' Cuba': 0.0026681220059426355,
                          ' Dominican-Republic': 0.0025468437329452427,
                          ' Ecuador': 0.0010308653204778365,
                          ' El-Salvador': 0.0035777090534230794,
                          ' England': 0.0025468437329452427,
                          ' France': 0.0006670305014856589,
                          ' Germany': 0.003941543872415257,
                          ' Greece': 0.0009702261839791401,
                          ' Guatemala': 0.0027287611424413314,
                          ' Haiti': 0.002061730640955673,
                          ' Honduras': 0.0004244739554908738,
                          ' Hong': 0.0006670305014856589,
                          ' Hungary': 0.0003031956824934813,
                          ' India': 0.002122369777454369,
                          ' Iran': 0.0009095870474804438,
                          ' Ireland': 0.0007883087744830514,
                          ' Italy': 0.0023042871869504576,
                          ' Jamaica': 0.002607482869443939,
                          ' Japan': 0.001637256685464799,
                          ' Laos': 0.0006063913649869626,
                          ' Mexico': 0.024437572008974593,
                          ' Nicaragua': 0.001394700139470014,
                          ' Outlying-US(Guam-USVI-etc)': 0.0006063913649869626,
                          ' Peru': 0.0011521435934752288,
                          ' Philippines': 0.005457522284882663,
                          ' Poland': 0.002061730640955673,
                          ' Portugal': 0.0015766175489661028,
                          ' Puerto-Rico': 0.004669213510399612,
                          ' Scotland': 0.00048511309198957006,
                          ' South': 0.0029106785519374206,
                          ' Taiwan': 0.001394700139470014,
                          ' Thailand': 0.0007276696379843551,
                          ' Trinadad&Tobago': 0.0006063913649869626,
                          ' United-States': 0.9064944515190104,
                          ' Vietnam': 0.0026681220059426355,
                          ' Yugoslavia': 0.00048511309198957006},
    'occupation': {   ' Adm-clerical': 0.13261779152264871,
                      ' Armed-Forces': 0.00024255654599478503,
                      ' Craft-repair': 0.12891880419622825,
                      ' Exec-managerial': 0.0873203565581226,
                      ' Farming-fishing': 0.03359408162027773,
                      ' Handlers-cleaners': 0.05269540961736705,
                      ' Machine-op-inspct': 0.07028075920198897,
                      ' Other-service': 0.12703899096476867,
                      ' Priv-house-serv': 0.005821357103874841,
                      ' Prof-specialty': 0.1602692377660542,
                      ' Protective-serv': 0.01685767994663756,
                      ' Sales': 0.1069067976472015,
                      ' Tech-support': 0.026014189557940694,
                      ' Transport-moving': 0.051421987750894425},
    'race': {   ' Amer-Indian-Eskimo': 0.01018737493178097,
                ' Asian-Pac-Islander': 0.030077011703353345,
                ' Black': 0.1104238675641259,
                ' Other': 0.009641622703292704,
                ' White': 0.839670123097447},
    'relationship': {   ' Husband': 0.29112849433024074,
                        ' Not-in-family': 0.3027105694014917,
                        ' Other-relative': 0.03826329513067734,
                        ' Own-child': 0.20459644654660117,
                        ' Unmarried': 0.12994966951670608,
                        ' Wife': 0.03335152507428294},
    'sex': {' Female': 0.3922139348735674, ' Male': 0.6077860651264326},
    'workclass': {   ' Federal-gov': 0.02364926323449154,
                     ' Local-gov': 0.05948699290522103,
                     ' Never-worked': 0.0003031956824934813,
                     ' Private': 0.7862470438420956,
                     ' Self-emp-inc': 0.018980049724091928,
                     ' Self-emp-not-inc': 0.07416166393790552,
                     ' State-gov': 0.036565399308713845,
                     ' Without-pay': 0.0006063913649869626}}
{   'age': {   Interval(16.926, 35.25, closed='right'): 0.2187793427230047,
               Interval(35.25, 53.5, closed='right'): 0.595868544600939,
               Interval(53.5, 71.75, closed='right'): 0.1752112676056338,
               Interval(71.75, 90.0, closed='right'): 0.010140845070422535},
    'capital-gain': {   Interval(-100.0, 24999.75, closed='right'): 0.9748356807511737,
                        Interval(24999.75, 49999.5, closed='right'): 0.00431924882629108,
                        Interval(49999.5, 74999.25, closed='right'): 0.0,
                        Interval(74999.25, 99999.0, closed='right'): 0.020845070422535212},
    'capital-loss': {   Interval(-4.357, 1089.0, closed='right'): 0.9030985915492957,
                        Interval(1089.0, 2178.0, closed='right'): 0.07906103286384976,
                        Interval(2178.0, 3267.0, closed='right'): 0.017652582159624414,
                        Interval(3267.0, 4356.0, closed='right'): 0.00018779342723004695},
    'education': {   ' 10th': 0.008450704225352112,
                     ' 11th': 0.007887323943661971,
                     ' 12th': 0.0041314553990610325,
                     ' 1st-4th': 0.0003755868544600939,
                     ' 5th-6th': 0.0022535211267605635,
                     ' 7th-8th': 0.004882629107981221,
                     ' 9th': 0.0041314553990610325,
                     ' Assoc-acdm': 0.03286384976525822,
                     ' Assoc-voc': 0.048450704225352116,
                     ' Bachelors': 0.28431924882629106,
                     ' Doctorate': 0.03774647887323944,
                     ' HS-grad': 0.2127699530516432,
                     ' Masters': 0.11981220657276995,
                     ' Prof-school': 0.05314553990610329,
                     ' Some-college': 0.1787793427230047},
    'education-num': {   Interval(0.984, 4.75, closed='right'): 0.007511737089201878,
                         Interval(4.75, 8.5, closed='right'): 0.02460093896713615,
                         Interval(8.5, 12.25, closed='right'): 0.4728638497652582,
                         Interval(12.25, 16.0, closed='right'): 0.49502347417840376},
    'fnlwgt': {   Interval(10812.579, 380390.0, closed='right'): 0.9541784037558686,
                  Interval(380390.0, 748495.0, closed='right'): 0.04469483568075117,
                  Interval(748495.0, 1116600.0, closed='right'): 0.0011267605633802818,
                  Interval(1116600.0, 1484705.0, closed='right'): 0.0},
    'hours-per-week': {   Interval(0.901, 25.5, closed='right'): 0.03286384976525822,
                          Interval(25.5, 50.0, closed='right'): 0.7776525821596244,
                          Interval(50.0, 74.5, closed='right'): 0.1723943661971831,
                          Interval(74.5, 99.0, closed='right'): 0.017089201877934272},
    'marital-status': {   ' Divorced': 0.059342723004694835,
                          ' Married-AF-spouse': 0.0011267605633802818,
                          ' Married-civ-spouse': 0.8525821596244132,
                          ' Married-spouse-absent': 0.00431924882629108,
                          ' Never-married': 0.0647887323943662,
                          ' Separated': 0.007887323943661971,
                          ' Widowed': 0.009953051643192488},
    'native-country': {   ' Cambodia': 0.0007511737089201878,
                          ' Canada': 0.005633802816901409,
                          ' China': 0.0033802816901408453,
                          ' Columbia': 0.0003755868544600939,
                          ' Cuba': 0.0033802816901408453,
                          ' Dominican-Republic': 0.00018779342723004695,
                          ' Ecuador': 0.0005633802816901409,
                          ' El-Salvador': 0.0011267605633802818,
                          ' England': 0.003192488262910798,
                          ' France': 0.0016901408450704226,
                          ' Germany': 0.005633802816901409,
                          ' Greece': 0.0007511737089201878,
                          ' Guatemala': 0.00018779342723004695,
                          ' Haiti': 0.0005633802816901409,
                          ' Honduras': 0.00018779342723004695,
                          ' Hong': 0.0009389671361502347,
                          ' Hungary': 0.0003755868544600939,
                          ' India': 0.004882629107981221,
                          ' Iran': 0.0015023474178403756,
                          ' Ireland': 0.0005633802816901409,
                          ' Italy': 0.0024413145539906103,
                          ' Jamaica': 0.0009389671361502347,
                          ' Japan': 0.003568075117370892,
                          ' Laos': 0.00018779342723004695,
                          ' Mexico': 0.0041314553990610325,
                          ' Nicaragua': 0.0003755868544600939,
                          ' Peru': 0.00018779342723004695,
                          ' Philippines': 0.007511737089201878,
                          ' Poland': 0.0009389671361502347,
                          ' Portugal': 0.0007511737089201878,
                          ' Puerto-Rico': 0.0020657276995305163,
                          ' Scotland': 0.0005633802816901409,
                          ' South': 0.0022535211267605635,
                          ' Taiwan': 0.0022535211267605635,
                          ' Thailand': 0.00018779342723004695,
                          ' Trinadad&Tobago': 0.0003755868544600939,
                          ' United-States': 0.9338967136150235,
                          ' Vietnam': 0.0005633802816901409,
                          ' Yugoslavia': 0.0009389671361502347},
    'occupation': {   ' Adm-clerical': 0.06553990610328639,
                      ' Armed-Forces': 0.00018779342723004695,
                      ' Craft-repair': 0.12,
                      ' Exec-managerial': 0.25370892018779345,
                      ' Farming-fishing': 0.014084507042253521,
                      ' Handlers-cleaners': 0.011643192488262911,
                      ' Machine-op-inspct': 0.03192488262910798,
                      ' Other-service': 0.017652582159624414,
                      ' Prof-specialty': 0.25652582159624415,
                      ' Protective-serv': 0.0276056338028169,
                      ' Sales': 0.12450704225352113,
                      ' Tech-support': 0.03624413145539906,
                      ' Transport-moving': 0.04037558685446009},
    'race': {   ' Amer-Indian-Eskimo': 0.004882629107981221,
                ' Asian-Pac-Islander': 0.03549295774647887,
                ' Black': 0.05014084507042253,
                ' Other': 0.003568075117370892,
                ' White': 0.9059154929577464},
    'relationship': {   ' Husband': 0.7513615023474178,
                        ' Not-in-family': 0.10816901408450705,
                        ' Other-relative': 0.004507042253521127,
                        ' Own-child': 0.00863849765258216,
                        ' Unmarried': 0.029671361502347417,
                        ' Wife': 0.09765258215962441},
    'sex': {' Female': 0.15474178403755867, ' Male': 0.8452582159624413},
    'workclass': {   ' Federal-gov': 0.05051643192488263,
                     ' Local-gov': 0.07737089201877934,
                     ' Private': 0.6565258215962442,
                     ' Self-emp-inc': 0.07924882629107981,
                     ' Self-emp-not-inc': 0.09220657276995305,
                     ' State-gov': 0.044131455399061034}}

### Predicting Class

In [280]:
def predict_class(row, prior, cond1, cond2):
    num1 = prior[' <=50K']
    num2 = prior[' >50K']
    for col in cat_cols:
        if row[col] in cond1[col]:
            num1 *= cond1[col][row[col]]
        else:
            num1 *= 0
        if row[col] in cond2[col]:
            num2 *= cond2[col][row[col]]
        else:
            num1 *= 0
    for col in cont_cols:
        for interval, val in cond1[col].items():
            if row[col] in interval:
                num1 *= cond1[col][interval]
                num2 *= cond2[col][interval]
                break
    if num1 >= num2:
        return ' <=50K'
    return ' >50K'

In [281]:
test['prediction'] = test.apply(lambda row: predict_class(row, prior, cond1, cond2), axis=1)
test

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income,prediction
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,>50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K,<=50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,United-States,>50K,>50K
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K,>50K
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K,<=50K
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K,<=50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K,<=50K

## Task 3

### Evaluation