## Task 1

In [783]:
import pandas as pd
import numpy as np

In [784]:
all_cols = ["age", "workclass", "fnlwgt", "education", "education-num", "marital-status", "occupation", "relationship", "race", "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country", "income"]
cont_cols = ["age", "fnlwgt", "education-num", "capital-gain", "capital-loss", "hours-per-week"]
cat_cols = ["workclass", "education", "marital-status", "occupation", "relationship", "race", "sex", "native-country"]

In [785]:
random_states = [80, 225, 2067, 4133, 6741, 9931, 58146, 79327, 3114652, 8538320]
random_state = random_states[9]

### The Dataset

The dataset provided had 32561 examples, with each example containing 14 features and a label indicating whether the annual income was $\le$ 50K. Out of the 14 features, 6 features had continuous values (namely, "age", "fnlwgt", "education-num", "capital-gain", "capital-loss" and "hours-per-week") and the remaining 8 features had discrete values (namely, "workclass", "education", "marital-status", "occupation", "relationship", "race", "sex" and "native-country"). There were 24720 examples with income $\le$ 50K and 7841 examples with income $>$ 50K.

Here are some of the examples from the dataset:

In [786]:
df = pd.read_csv("adult.data", index_col=False, names=all_cols)
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [787]:
df['income'].value_counts()

 <=50K    24720
 >50K      7841
Name: income, dtype: int64

#### Fill Missing Values

There were 2399 examples which had one or more missing values. We filled the missing values by going over each column and replacing the missing values with the most commonly occurring non-missing value in case of discrete features and with the mean of all the non-missing values in case of continuous features.

In [788]:
df[df.isin([" ?"]).any(axis=1)]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
38,31,Private,84154,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,38,?,>50K
51,18,Private,226956,HS-grad,9,Never-married,Other-service,Own-child,White,Female,0,0,30,?,<=50K
61,32,?,293936,7th-8th,4,Married-spouse-absent,?,Not-in-family,White,Male,0,0,40,?,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32530,35,?,320084,Bachelors,13,Married-civ-spouse,?,Wife,White,Female,0,0,55,United-States,>50K
32531,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32541,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32542,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K

In [789]:
df = df.replace(" ?", np.nan)
df[df.isin([" ?"]).any(axis=1)]

Empty DataFrame
Columns: [age, workclass, fnlwgt, education, education-num, marital-status, occupation, relationship, race, sex, capital-gain, capital-loss, hours-per-week, native-country, income]
Index: []

In [790]:
df[df.isnull().any(axis=1)]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,NaN,>50K
27,54,NaN,180211,Some-college,10,Married-civ-spouse,NaN,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
38,31,Private,84154,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,38,NaN,>50K
51,18,Private,226956,HS-grad,9,Never-married,Other-service,Own-child,White,Female,0,0,30,NaN,<=50K
61,32,NaN,293936,7th-8th,4,Married-spouse-absent,NaN,Not-in-family,White,Male,0,0,40,NaN,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32530,35,NaN,320084,Bachelors,13,Married-civ-spouse,NaN,Wife,White,Female,0,0,55,United-States,>50K
32531,30,NaN,33811,Bachelors,13,Never-married,NaN,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32539,71,NaN,287372,Doctorate,16,Married-civ-spouse,NaN,Husband,White,Male,0,0,10,United-States,>50K
32541,41,NaN,202822,HS-grad,9,Separated,NaN,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32542,72,NaN,129912,HS-grad,9,Married-civ-spouse,NaN,Husband,White,Male,0,0,25,United-States,<=50K

In [791]:
# cont_cols = ["age", "fnlwgt", "education-num", "capital-gain", "capital-loss", "hours-per-week"]
for column in cont_cols:
    val = df[column].mean(skipna=True)
    df[column] = df[column].replace(np.nan, val)

In [792]:
# cat_cols = ["workclass", "education", "marital-status", "occupation", "relationship", "race", "sex", "native-country"]
for column in cat_cols:
    df[column] = df[column].replace(np.nan, drop_df[column].mode()[0])

In [793]:
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [age, workclass, fnlwgt, education, education-num, marital-status, occupation, relationship, race, sex, capital-gain, capital-loss, hours-per-week, native-country, income]
Index: []

In [794]:
# df.to_csv("nb_filled.csv", index=None)

#### Create Training and Testing Sets

We split the dataset and used 67% of the dataset for training and 33% for testing. Our testing split contained 21816 examples and training split contained 10745 examples.

In [795]:
def create_split(df):
    training_split = df.sample(frac = 0.67, random_state=225)
    testing_split = df.drop(training_split.index)

    return (training_split, testing_split)

In [796]:
df = pd.read_csv('nb_filled.csv')
train, test = create_split(df)

Here are some examples from the training split:

In [797]:
train

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
29736,27,Private,176683,HS-grad,9,Never-married,Transport-moving,Own-child,White,Male,0,0,40,United-States,<=50K
582,59,Private,199713,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
15058,25,Private,81286,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,45,United-States,<=50K
13755,23,Private,37783,Some-college,10,Never-married,Sales,Own-child,White,Female,0,0,40,United-States,<=50K
9895,38,Private,450924,12th,8,Married-civ-spouse,Other-service,Husband,White,Male,3942,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30104,55,Private,359972,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1887,40,United-States,>50K
22397,49,Private,168262,10th,6,Divorced,Other-service,Not-in-family,White,Male,0,0,48,United-States,<=50K
30740,42,State-gov,333530,Some-college,10,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,>50K
10794,24,Private,216563,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Wife,White,Female,0,0,40,United-States,<=50K
8676,27,Private,199903,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,40,United-States,<=50K

Here are some examples from the testing split:

In [798]:
test

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32541,41,Private,202822,HS-grad,9,Separated,Prof-specialty,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32547,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K

In [799]:
bin_dict = {}
for col in cont_cols:
    result, bins = pd.cut(df[col], bins=10, retbins=True)
    bin_dict[col] = bins
bin_dict

{'age': array([16.927, 24.3  , 31.6  , 38.9  , 46.2  , 53.5  , 60.8  , 68.1  ,
        75.4  , 82.7  , 90.   ]),
 'fnlwgt': array([  10812.58,  159527.  ,  306769.  ,  454011.  ,  601253.  ,
         748495.  ,  895737.  , 1042979.  , 1190221.  , 1337463.  ,
        1484705.  ]),
 'education-num': array([ 0.985,  2.5  ,  4.   ,  5.5  ,  7.   ,  8.5  , 10.   , 11.5  ,
        13.   , 14.5  , 16.   ]),
 'capital-gain': array([  -99.999,  9999.9  , 19999.8  , 29999.7  , 39999.6  , 49999.5  ,
        59999.4  , 69999.3  , 79999.2  , 89999.1  , 99999.   ]),
 'capital-loss': array([  -4.356,  435.6  ,  871.2  , 1306.8  , 1742.4  , 2178.   ,
        2613.6  , 3049.2  , 3484.8  , 3920.4  , 4356.   ]),
 'hours-per-week': array([ 0.902, 10.8  , 20.6  , 30.4  , 40.2  , 50.   , 59.8  , 69.6  ,
        79.4  , 89.2  , 99.   ])}

In [800]:
cat_dict = {}
for col in cat_cols:
    cat_dict[col] = df[col].unique()
cat_dict

{'workclass': array([' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov',
        ' Local-gov', ' Self-emp-inc', ' Without-pay', ' Never-worked'],
       dtype=object),
 'education': array([' Bachelors', ' HS-grad', ' 11th', ' Masters', ' 9th',
        ' Some-college', ' Assoc-acdm', ' Assoc-voc', ' 7th-8th',
        ' Doctorate', ' Prof-school', ' 5th-6th', ' 10th', ' 1st-4th',
        ' Preschool', ' 12th'], dtype=object),
 'marital-status': array([' Never-married', ' Married-civ-spouse', ' Divorced',
        ' Married-spouse-absent', ' Separated', ' Married-AF-spouse',
        ' Widowed'], dtype=object),
 'occupation': array([' Adm-clerical', ' Exec-managerial', ' Handlers-cleaners',
        ' Prof-specialty', ' Other-service', ' Sales', ' Craft-repair',
        ' Transport-moving', ' Farming-fishing', ' Machine-op-inspct',
        ' Tech-support', ' Protective-serv', ' Armed-Forces',
        ' Priv-house-serv'], dtype=object),
 'relationship': array([' Not-in-family', ' Husband', ' Wife', ' Own-child', ' Unmarried',
        ' Other-relative'], dtype=object),
 'race': array([' White', ' Black', ' Asian-Pac-Islander', ' Amer-Indian-Eskimo',
        ' Other'], dtype=object),
 'sex': array([' Male', ' Female'], dtype=object),
 'native-country': array([' United-States', ' Cuba', ' Jamaica', ' India', ' Mexico',
        ' South', ' Puerto-Rico', ' Honduras', ' England', ' Canada',
        ' Germany', ' Iran', ' Philippines', ' Italy', ' Poland',
        ' Columbia', ' Cambodia', ' Thailand', ' Ecuador', ' Laos',
        ' Taiwan', ' Haiti', ' Portugal', ' Dominican-Republic',
        ' El-Salvador', ' France', ' Guatemala', ' China', ' Japan',
        ' Yugoslavia', ' Peru', ' Outlying-US(Guam-USVI-etc)', ' Scotland',
        ' Trinadad&Tobago', ' Greece', ' Nicaragua', ' Vietnam', ' Hong',
        ' Ireland', ' Hungary', ' Holand-Netherlands'], dtype=object)}

## Task 2

### Calculating Prior Probability

We calculated prior probability of each of two classes using maximum likelihood estimator.

In [801]:
def calculate_prior(df):
    return df['income'].value_counts(normalize=True).to_dict()

In [802]:
prior = calculate_prior(train)
prior

{' <=50K': 0.7602218555188852, ' >50K': 0.23977814448111479}

### Calculating Conditional Probability

We calculated conditional probabilities of every feature assuming that features are independent of each other given the income class. We binned the continuous features into 10 bins of equal size for calculating likelihood.

In [803]:
def calculate_conditional(df, bin_dict, cat_dict, cat_cols, cont_cols, smooth=False, alpha=1):
    grouped = df.groupby(df.income)
    df1 = grouped.get_group(" <=50K")
    df2 = grouped.get_group(" >50K")
    cond1, cond2 = dict(), dict()
    if smooth == False:
        for col in cat_cols:
            cond1[col] = dict.fromkeys(cat_dict[col], 0)
            cond2[col] = dict.fromkeys(cat_dict[col], 0)
            cond1[col].update(df1[col].value_counts(normalize=True).to_dict())
            cond2[col].update(df2[col].value_counts(normalize=True).to_dict())
        for col in cont_cols:
            # cut = pd.cut(df1[col], bins=bin_dict[col], labels=bin_dict[col][:-1])
            # cond1[col] = cut.value_counts(normalize=True).to_dict()
            # cut = pd.cut(df2[col], bins=bin_dict[col], labels=bin_dict[col][:-1])
            # cond2[col] = cut.value_counts(normalize=True).to_dict()
            cond1[col] = df1[col].value_counts(normalize=True, bins=bin_dict[col]).to_dict()
            cond2[col] = df2[col].value_counts(normalize=True, bins=bin_dict[col]).to_dict()
    else:
        for col in cat_cols:
            k = len(cat_dict[col])          # k = (no. of categories)
            cond1[col] = dict.fromkeys(cat_dict[col], 0)
            cond2[col] = dict.fromkeys(cat_dict[col], 0)
            cond1[col].update(df1[col].value_counts().to_dict())
            cond2[col].update(df2[col].value_counts().to_dict())
            N = sum(cond1[col].values())
            cond1[col] = {cat:((cnt + alpha) / (N + k * alpha)) for cat, cnt in cond1[col].items()}
            N = sum(cond2[col].values())
            cond2[col] = {cat:((cnt + alpha) / (N + k * alpha)) for cat, cnt in cond2[col].items()}
        for col in cont_cols:
            k = len(bin_dict[col]) - 1      # k = (no. of bins)
            cond1[col] = df1[col].value_counts(bins=bin_dict[col]).to_dict()
            cond2[col] = df2[col].value_counts(bins=bin_dict[col]).to_dict()
            N = sum(cond1[col].values())
            cond1[col] = {cat:((cnt + alpha) / (N + k * alpha)) for cat, cnt in cond1[col].items()}
            N = sum(cond2[col].values())
            cond2[col] = {cat:((cnt + alpha) / (N + k * alpha)) for cat, cnt in cond2[col].items()}
    return cond1, cond2

In [804]:
cond1, cond2 = calculate_conditional(train, bin_dict, cat_dict, cat_cols, cont_cols)

In [805]:
# import json

# with open('cond1.json', 'w') as fp:
#     json.dump(cond1, fp)
# with open('cond2.json', 'w') as fp:
#     json.dump(cond2, fp)

In [806]:
import pprint
# pprint.pprint(cond1, indent=4)
# pprint.pprint(cond2, indent=4)

### Predicting Class

We made predictions for the testing split using prior and likelihood that we had calculated earlier. We ignored the denominator since it is common to both income classes and directly compared the numerators to make our prediction.

In [807]:
def predict_class(row, prior, cond1, cond2):
    num1 = prior[' <=50K']
    num2 = prior[' >50K']
    for col in cat_cols:
        num1 *= cond1[col][row[col]]
        num2 *= cond2[col][row[col]]
    for col in cont_cols:
        for interval, val in cond1[col].items():
            if row[col] in interval:
                num1 *= cond1[col][interval]
                num2 *= cond2[col][interval]
                break
    if num1 >= num2:
        return ' <=50K'
    return ' >50K'

In [808]:
test['prediction'] = test.apply(lambda row: predict_class(row, prior, cond1, cond2), axis=1)
test

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income,prediction
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K,<=50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32541,41,Private,202822,HS-grad,9,Separated,Prof-specialty,Not-in-family,Black,Female,0,0,32,United-States,<=50K,<=50K
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K,<=50K
32547,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K,>50K
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K,<=50K

## Task 3

### Evaluation

In [809]:
# res_df = pd.DataFrame(columns=['Random State', 'Alpha(Smoothing)', 'TP', 'FP', 'TN', 'FN', 'Accuracy', 'Precision', 'Recall', 'F1-Score'])
# res_df.to_csv("results.csv", index=None)
res_df = pd.read_csv("results.csv")
res_df

,Random State,Alpha(Smoothing),TP,FP,TN,FN,Accuracy,Precision,Recall,F1-Score
0,80.0,0.0,6786.0,588.0,2022.0,1349.0,0.686273,0.920260,0.834173,0.875105
1,80.0,1.0,6786.0,592.0,2018.0,1349.0,0.686645,0.919761,0.834173,0.874879
2,80.0,10.0,6830.0,616.0,1994.0,1305.0,0.692973,0.917271,0.839582,0.876709
3,80.0,50.0,7024.0,760.0,1850.0,1111.0,0.724430,0.902364,0.863430,0.882467
4,80.0,100.0,7227.0,951.0,1659.0,908.0,0.761098,0.883712,0.888384,0.886042
5,225.0,0.0,6786.0,588.0,2022.0,1349.0,0.686273,0.920260,0.834173,0.875105
6,225.0,1.0,6786.0,592.0,2018.0,1349.0,0.686645,0.919761,0.834173,0.874879
7,225.0,10.0,6830.0,616.0,1994.0,1305.0,0.692973,0.917271,0.839582,0.876709
8,225.0,50.0,7024.0,760.0,1850.0,1111.0,0.724430,0.902364,0.863430,0.882467
9,225.0,100.0,7227.0,951.0,1659.0,908.0,0.761098,0.883712,0.888384,0.886042
10,2067.0,0.0,6786.0,588.0,2022.0,1349.0,0.686273,0.920260,0.834173,0.875105
11,2067.0,1.0,6786.0,592.0,2018.0,1349.0,0.686645,0.919761,0.834173,0.874879
12,2067.0,10.0,6830.0,616.0,1994.0,1305.0,0.692973,0.917271,0.839582,0.876709
13,2067.0,50.0,7024.0,760.0,1850.0,1111.0,0.724430,0.902364,0.863430,0.882467
14,2067.0,100.0,7227.0,951.0,1659.0,908.0,0.761098,0.883712,0.888384,0.886042
15,4133.0,0.0,6786.0,588.0,2022.0,1349.0,0.686273,0.920260,0.834173,0.875105
16,4133.0,1.0,6786.0,592.0,2018.0,1349.0,0.686645,0.919761,0.834173,0.874879
17,4133.0,10.0,6830.0,616.0,1994.0,1305.0,0.692973,0.917271,0.839582,0.876709
18,4133.0,50.0,7024.0,760.0,1850.0,1111.0,0.724430,0.902364,0.863430,0.882467
19,4133.0,100.0,7227.0,951.0,1659.0,908.0,0.761098,0.883712,0.888384,0.886042
20,6741.0,0.0,6786.0,588.0,2022.0,1349.0,0.686273,0.920260,0.834173,0.875105
21,6741.0,1.0,6786.0,592.0,2018.0,1349.0,0.686645,0.919761,0.834173,0.874879
22,6741.0,10.0,6830.0,616.0,1994.0,1305.0,0.692973,0.917271,0.839582,0.876709
23,6741.0,50.0,7024.0,760.0,1850.0,1111.0,0.724430,0.902364,0.863430,0.882467
24,6741.0,100.0,7227.0,951.0,1659.0,908.0,0.761098,0.883712,0.888384,0.886042
25,9931.0,0.0,6786.0,588.0,2022.0,1349.0,0.686273,0.920260,0.834173,0.875105
26,9931.0,1.0,6786.0,592.0,2018.0,1349.0,0.686645,0.919761,0.834173,0.874879
27,9931.0,10.0,6830.0,616.0,1994.0,1305.0,0.692973,0.917271,0.839582,0.876709
28,9931.0,50.0,7024.0,760.0,1850.0,1111.0,0.724430,0.902364,0.863430,0.882467
29,9931.0,100.0,7227.0,951.0,1659.0,908.0,0.761098,0.883712,0.888384,0.886042
30,58146.0,0.0,6786.0,588.0,2022.0,1349.0,0.686273,0.920260,0.834173,0.875105
31,58146.0,1.0,6786.0,592.0,2018.0,1349.0,0.686645,0.919761,0.834173,0.874879
32,58146.0,10.0,6830.0,616.0,1994.0,1305.0,0.692973,0.917271,0.839582,0.876709
33,58146.0,50.0,7024.0,760.0,1850.0,1111.0,0.724430,0.902364,0.863430,0.882467
34,58146.0,100.0,7227.0,951.0,1659.0,908.0,0.761098,0.883712,0.888384,0.886042
35,79327.0,0.0,6786.0,588.0,2022.0,1349.0,0.686273,0.920260,0.834173,0.875105
36,79327.0,1.0,6786.0,592.0,2018.0,1349.0,0.686645,0.919761,0.834173,0.874879
37,79327.0,10.0,6830.0,616.0,1994.0,1305.0,0.692973,0.917271,0.839582,0.876709
38,79327.0,50.0,7024.0,760.0,1850.0,1111.0,0.724430,0.902364,0.863430,0.882467
39,79327.0,100.0,7227.0,951.0,1659.0,908.0,0.761098,0.883712,0.888384,0.886042
40,3114652.0,0.0,6786.0,588.0,2022.0,1349.0,0.686273,0.920260,0.834173,0.875105
41,3114652.0,1.0,6786.0,592.0,2018.0,1349.0,0.686645,0.919761,0.834173,0.874879
42,3114652.0,10.0,6830.0,616.0,1994.0,1305.0,0.692973,0.917271,0.839582,0.876709
43,3114652.0,50.0,7024.0,760.0,1850.0,1111.0,0.724430,0.902364,0.863430,0.882467
44,3114652.0,100.0,7227.0,951.0,1659.0,908.0,0.761098,0.883712,0.888384,0.886042

We evaluated our predictions by calculating the accuracy, precision, recall and F1-score. We calculated them using the following formulae:

$$ Accuracy = \frac{TP + TN}{TP + FP + TN + FN} $$
$$ Precision = \frac{TP}{TP + FP} $$
$$ Recall = \frac{TP}{TP + FN} $$
$$ F1-Score = \frac{2}{\frac{1}{Precision} + \frac{1}{Recall}} $$

In [810]:
def evaluate(df, smooth=False, alpha=0):
    grouped = df.groupby(df.income)
    df1 = grouped.get_group(" <=50K")
    df2 = grouped.get_group(" >50K")
    if smooth:
        dict1 = df1['prediction_smoothing'].value_counts().to_dict()
        dict2 = df2['prediction_smoothing'].value_counts().to_dict()
    else:
        dict1 = df1['prediction'].value_counts().to_dict()
        dict2 = df2['prediction'].value_counts().to_dict()
    tp = dict1[" <=50K"]
    fp = dict2[" <=50K"]
    tn = dict2[" >50K"]
    fn = dict1[" >50K"]
    print(f"TP: {tp}\t FP: {fp}\t TN: {tn}\t FN: {fn}")
    acc = (tp + fp) / (tp + fp + tn + fn)
    prec = tp / (tp + fp)
    rec = tp / (tp + fn)
    f1 = 2 / (1 / prec + 1 / rec)
    print(f"Accuracy: {acc}")
    print(f"Precision: {prec}")
    print(f"Recall: {rec}")
    print(f"F1-Score: {f1}")
    entry = [random_state, alpha, tp, fp, tn, fn, acc, prec, rec, f1]
    res_df.loc[len(res_df)] = entry

In [811]:
evaluate(test[['income', 'prediction']])

TP: 6786	 FP: 588	 TN: 2022	 FN: 1349
Accuracy: 0.6862726849697534
Precision: 0.9202603742880391
Recall: 0.8341733251382913
F1-Score: 0.8751047778709137

### Smoothing

We applied Laplacian smoothing with $\alpha$ values as 1, 10, 50 and 100. We used the following formula for smoothing:

$$ P(\textnormal{education=`11th' | income=`> 50K'}) = \frac{\textnormal{No. of examples with education=`11th' and income=`> 50K'} + \alpha}{\textnormal{No. of examples with income=`> 50K'} + K \alpha} $$

where $K$ is the number of discrete values that education can take.

In [812]:
cond1_smooth, cond2_smooth = calculate_conditional(train, bin_dict, cat_dict, cat_cols, cont_cols, smooth=True)

In [813]:
# pprint.pprint(cond1_smooth, indent=4)
# pprint.pprint(cond2_smooth, indent=4)

In [814]:
test['prediction_smoothing'] = test.apply(lambda row: predict_class(row, prior, cond1_smooth, cond2_smooth), axis=1)
test

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income,prediction,prediction_smoothing
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,<=50K,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,<=50K,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,<=50K,>50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K,<=50K,<=50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K,>50K,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32541,41,Private,202822,HS-grad,9,Separated,Prof-specialty,Not-in-family,Black,Female,0,0,32,United-States,<=50K,<=50K,<=50K
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K,<=50K,<=50K
32547,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K,<=50K,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K,>50K,>50K
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K,<=50K,<=50K

In [815]:
for alpha in [1, 10, 50, 100]:
    print(f"alpha={alpha}")
    cond1_smooth, cond2_smooth = calculate_conditional(train, bin_dict, cat_dict, cat_cols, cont_cols, smooth=True, alpha=alpha)
    test['prediction_smoothing'] = test.apply(lambda row: predict_class(row, prior, cond1_smooth, cond2_smooth), axis=1)    
    evaluate(test[['income', 'prediction_smoothing']], smooth=True, alpha=alpha)
    print()

alpha=1
TP: 6786	 FP: 592	 TN: 2018	 FN: 1349
Accuracy: 0.6866449511400652
Precision: 0.919761452968284
Recall: 0.8341733251382913
F1-Score: 0.8748791336298589

alpha=10
TP: 6830	 FP: 616	 TN: 1994	 FN: 1305
Accuracy: 0.6929734760353653
Precision: 0.9172710179962396
Recall: 0.8395820528580209
F1-Score: 0.8767088120146332

alpha=50
TP: 7024	 FP: 760	 TN: 1850	 FN: 1111
Accuracy: 0.7244299674267101
Precision: 0.9023638232271326
Recall: 0.8634296250768285
F1-Score: 0.882467491676613

alpha=100
TP: 7227	 FP: 951	 TN: 1659	 FN: 908
Accuracy: 0.7610981852024197
Precision: 0.8837123991195891
Recall: 0.8883835279655808
F1-Score: 0.8860418071476737

In [816]:
# res_df.to_csv("results.csv", index=None)
res_df

,Random State,Alpha(Smoothing),TP,FP,TN,FN,Accuracy,Precision,Recall,F1-Score
0,80.0,0.0,6786.0,588.0,2022.0,1349.0,0.686273,0.920260,0.834173,0.875105
1,80.0,1.0,6786.0,592.0,2018.0,1349.0,0.686645,0.919761,0.834173,0.874879
2,80.0,10.0,6830.0,616.0,1994.0,1305.0,0.692973,0.917271,0.839582,0.876709
3,80.0,50.0,7024.0,760.0,1850.0,1111.0,0.724430,0.902364,0.863430,0.882467
4,80.0,100.0,7227.0,951.0,1659.0,908.0,0.761098,0.883712,0.888384,0.886042
5,225.0,0.0,6786.0,588.0,2022.0,1349.0,0.686273,0.920260,0.834173,0.875105
6,225.0,1.0,6786.0,592.0,2018.0,1349.0,0.686645,0.919761,0.834173,0.874879
7,225.0,10.0,6830.0,616.0,1994.0,1305.0,0.692973,0.917271,0.839582,0.876709
8,225.0,50.0,7024.0,760.0,1850.0,1111.0,0.724430,0.902364,0.863430,0.882467
9,225.0,100.0,7227.0,951.0,1659.0,908.0,0.761098,0.883712,0.888384,0.886042
10,2067.0,0.0,6786.0,588.0,2022.0,1349.0,0.686273,0.920260,0.834173,0.875105
11,2067.0,1.0,6786.0,592.0,2018.0,1349.0,0.686645,0.919761,0.834173,0.874879
12,2067.0,10.0,6830.0,616.0,1994.0,1305.0,0.692973,0.917271,0.839582,0.876709
13,2067.0,50.0,7024.0,760.0,1850.0,1111.0,0.724430,0.902364,0.863430,0.882467
14,2067.0,100.0,7227.0,951.0,1659.0,908.0,0.761098,0.883712,0.888384,0.886042
15,4133.0,0.0,6786.0,588.0,2022.0,1349.0,0.686273,0.920260,0.834173,0.875105
16,4133.0,1.0,6786.0,592.0,2018.0,1349.0,0.686645,0.919761,0.834173,0.874879
17,4133.0,10.0,6830.0,616.0,1994.0,1305.0,0.692973,0.917271,0.839582,0.876709
18,4133.0,50.0,7024.0,760.0,1850.0,1111.0,0.724430,0.902364,0.863430,0.882467
19,4133.0,100.0,7227.0,951.0,1659.0,908.0,0.761098,0.883712,0.888384,0.886042
20,6741.0,0.0,6786.0,588.0,2022.0,1349.0,0.686273,0.920260,0.834173,0.875105
21,6741.0,1.0,6786.0,592.0,2018.0,1349.0,0.686645,0.919761,0.834173,0.874879
22,6741.0,10.0,6830.0,616.0,1994.0,1305.0,0.692973,0.917271,0.839582,0.876709
23,6741.0,50.0,7024.0,760.0,1850.0,1111.0,0.724430,0.902364,0.863430,0.882467
24,6741.0,100.0,7227.0,951.0,1659.0,908.0,0.761098,0.883712,0.888384,0.886042
25,9931.0,0.0,6786.0,588.0,2022.0,1349.0,0.686273,0.920260,0.834173,0.875105
26,9931.0,1.0,6786.0,592.0,2018.0,1349.0,0.686645,0.919761,0.834173,0.874879
27,9931.0,10.0,6830.0,616.0,1994.0,1305.0,0.692973,0.917271,0.839582,0.876709
28,9931.0,50.0,7024.0,760.0,1850.0,1111.0,0.724430,0.902364,0.863430,0.882467
29,9931.0,100.0,7227.0,951.0,1659.0,908.0,0.761098,0.883712,0.888384,0.886042
30,58146.0,0.0,6786.0,588.0,2022.0,1349.0,0.686273,0.920260,0.834173,0.875105
31,58146.0,1.0,6786.0,592.0,2018.0,1349.0,0.686645,0.919761,0.834173,0.874879
32,58146.0,10.0,6830.0,616.0,1994.0,1305.0,0.692973,0.917271,0.839582,0.876709
33,58146.0,50.0,7024.0,760.0,1850.0,1111.0,0.724430,0.902364,0.863430,0.882467
34,58146.0,100.0,7227.0,951.0,1659.0,908.0,0.761098,0.883712,0.888384,0.886042
35,79327.0,0.0,6786.0,588.0,2022.0,1349.0,0.686273,0.920260,0.834173,0.875105
36,79327.0,1.0,6786.0,592.0,2018.0,1349.0,0.686645,0.919761,0.834173,0.874879
37,79327.0,10.0,6830.0,616.0,1994.0,1305.0,0.692973,0.917271,0.839582,0.876709
38,79327.0,50.0,7024.0,760.0,1850.0,1111.0,0.724430,0.902364,0.863430,0.882467
39,79327.0,100.0,7227.0,951.0,1659.0,908.0,0.761098,0.883712,0.888384,0.886042
40,3114652.0,0.0,6786.0,588.0,2022.0,1349.0,0.686273,0.920260,0.834173,0.875105
41,3114652.0,1.0,6786.0,592.0,2018.0,1349.0,0.686645,0.919761,0.834173,0.874879
42,3114652.0,10.0,6830.0,616.0,1994.0,1305.0,0.692973,0.917271,0.839582,0.876709
43,3114652.0,50.0,7024.0,760.0,1850.0,1111.0,0.724430,0.902364,0.863430,0.882467
44,3114652.0,100.0,7227.0,951.0,1659.0,908.0,0.761098,0.883712,0.888384,0.886042
45,8538320.0,0.0,6786.0,588.0,2022.0,1349.0,0.686273,0.920260,0.834173,0.875105
46,8538320.0,1.0,6786.0,592.0,2018.0,1349.0,0.686645,0.919761,0.834173,0.874879
47,8538320.0,10.0,6830.0,616.0,1994.0,1305.0,0.692973,0.917271,0.839582,0.876709
48,8538320.0,50.0,7024.0,760.0,1850.0,1111.0,0.724430,0.902364,0.863430,0.882467
49,8538320.0,100.0,7227.0,951.0,1659.0,908.0,0.761098,0.883712,0.888384,0.886042